<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Google.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Google.Properties.Settings>
      <setting name="GoogleCalendarDefaultSpeechReset" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoogleCalendarDefaultSpeech1" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech2" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech3" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech4" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech5" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech6" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech7" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech8" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech9" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech10" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech11" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech12" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech13" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech14" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech15" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech16" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech17" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech18" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech19" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech20" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech21" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleCalendarDefaultSpeech22" serializeAs="String">
        <value />
      </setting>
    </Google.Properties.Settings>
  </userSettings>
</configuration>